<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
	  <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">




    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">

  <link rel="shortcut icon" href="img/isotipo.png" type="image/x-icon">
    <title>VEU! - Foro</title>
  </head>
  <body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	    <header th:insert="index :: header"></header>
    <br>
    <br>
    <br>
	  
	 
	  
	  
	  
	  
	  
	  
	 <div class="crear">
	  <a href="/crearforo"><h1>CREÁ TU FORO</h1></a>
	  </div>
		 
	  
	 <div id="contenedorforo" th:style="|background-color: ${foro.color}|">
     
    <div class="card text-center ">
      <div class="container">
      <div class="card-header bg-light row">
        <div class="col-6">
      <p th:text="'Usuario: '+${publicacion1.usuario.alias}"> Usuario: Fabricio </p>
        </div>
      <div class="col-6"> 
      <img  th:src=@{/foto/__${publicacion1.usuario.foto.id}__} style="width: 30px; height:30px; border-radius: 15px; float: right"/>
      </div>
      </div>
		
      <div class="card-body">
        <h5 class="card-title" th:text="${publicacion1.titulo.toUpperCase()}">COLILLAS DE CIGARRILLOS</h5>
        <p class="card-text" th:text="${publicacion1.texto}">No quiero tirar mis colillas en la calle, qué debería hacer con ellas?</p>
        
      </div>
      <div class="card-footer text-muted" th:text="${publicacion1.fecha}">
       20-02-2020 a las 13:30
      </div>
    </div>
  </div>

    <div class="card text-center " th:each="respuesta: ${publicacion1.respuestas}">
    <div class="container">
      <div class="card-header bg-light row">
        <div class="col-6">
        <p th:text="'Usuario: '+${respuesta.usuario.alias}">Usuario: Celeste </p>
        </div>
      <div class="col-6">
        <img  th:src=@{/foto/__${respuesta.usuario.foto.id}__} style="width: 30px; height:30px; border-radius: 15px; float:right"/>
      </div>
    </div>
      <div class="card-body">
        <p class="card-text" th:text="${respuesta.texto}">Creo que lo que deberías hacer es guardarlas en botellas y reciclarlas.</p>
        
      </div>
      <div class="card-footer text-muted" th:text="${respuesta.fecha}">
       20-02-2020 a las 16:00
      </div>
    </div>
  </div>

		 <div class="card text-center" style="background-color: transparent">
		 <div class="enviarrespuesta">
     <form action="/crearRta" method="POST">
      <textarea id="text" name="texto" placeholder="Escribir una respuesta"></textarea>
      <input type="hidden" name="idUsuario" th:value="${usuario.id}">
      <input type="hidden" name="idPublicacion" th:value="${publicacion1.id}">
      <div class="enviar">
        <input type="submit" value="ENVIAR">
        </div>
      </div>
      
    </form> 
    </div>
  </div>
		  
    
	  
	  <div th:insert="index :: footer">

  </div>  
	  
</body>
</html>
